/.fabric/*
/.console_history
/crash-reports/
/CMakeFiles/
/zlib/
/zlib-prefix/
/world/
/world_nether/
/world_the_end/
/world_end/
/cache/
/config/
/libraries/
/logs/
/versions/
/plugins/
/*.properties
/*.json
/*.yml
/*.jar
/*.txt
/*.server
/*.log
/*.conf
/hajime
/download
/Makefile
/cmake_install.cmake
